html {
    box-sizing: border-box;
    height: 100%;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

body {
    /* background: yellow;   */
    background-image: url("/img/hip-square.png");
    margin: 0 auto;
    text-align: center;
     }

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 3em;
    font-weight: 300;
    margin: 10px 0 10px 0;
}
/* @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
img {
    opacity: 0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 0.3s;
} */

h2 {
    font-family: 'Oregano', cursive;
    margin: 10px 0 10px 0;
    text-align: center;

}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1em;
    background: white;
    margin: 10px 15px;
    padding-left: 5px;
    box-shadow: 1px 1px 5px rgb(22, 22, 22, .6);
    /* text-align: center; */


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

.headerDiv {
    width: 100%;
    /* background:red; */

}   

.container {
    width: 60vw;
    height: 30vh;
    margin: 10px auto;
    text-align: center;
    background:rgba(255, 215, 83, 0.5);
    margin-bottom: 30px;
    /* background: black; */
    box-shadow: 1px 1px 5px rgb(22, 22, 22, .6);


}
.readyBurgerDiv {
    float: left;
    width: 50%;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;

    /* background:rgba(255, 215, 83, 0.5); */
}
.devouredBurgerDiv {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 20px;
    /* background:rgba(255, 215, 83, 0.5); */
}
.addBurgerDiv {
    
    margin: 0 auto;
    clear: both;
    width: 80vw;
    /* background:purple; */
}

#burgerName{
    width: 300px;
    height: 30px;
    padding: 0 10px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1em;
}
.devourBurger{
    float: right;
    margin: -1px -5px 0 0;
    font-size: .8em;
}

button {
    margin: 0 0 0 5px;  
    font-family: 'Roboto', sans-serif;  
    font-size: .8em;
    color: white;
    padding: 3px 10px;
    font-weight: 500;
    border-radius: 1em 1em 1em 1em;
    border: none;
    box-shadow: 1px 1px 5px rgb(22, 22, 22);
    background-color: rgb(41, 41, 41)

    }
button:hover{
    cursor: pointer;
    background-color: rgb(141, 74, 35);
    transition: all 0.5s ease-out;
    color: white;
    border: none;
    }

button:focus{
    outline:none;
    border: none;
    }

button:active{
    outline:none;
    border: none;
    box-shadow: none;
    }
.homeText{
    background: none;
    box-shadow: none;

}

.deleteBurger{
    float: right;
    font-size: .9em;
    margin: -3px -2px 0 0;
}

.eachCustomer {
    float: left;
    width: 75%;
    margin: 5px 10px 0 10px;
}

#customerName{
    width: 100px;
    float: left;
    margin: 5px 0px 0 20px;
    padding-left: 5px;
    


}

.customerDevour-btn{
    float:right;
    margin: 4px 0 0 0px;


}


    



/* font-family: 'Londrina Solid', cursive;
font-family: 'Oregano', cursive;
font-family: 'Roboto', sans-serif; */